{% extends 'base.html.twig' %}


{% block content %}

<h1 class="text-center text-primary mt-3 mb-5">{{ definition.terme }}</h1>
<div class='row'>
<div class='col-md-6'>
  <p class=" text-md-center mx-auto ">{{ definition.description }}
  fwdhbvggjfkjgifdhjgfkjdhgkjhfdgkjlhfkljdhgfkjhghcgjchjhjhjjghjhgj
  gfjghjghj
  hgjghcjcghkhcgkjhgck
  jkghkjghkhjkdjukh
  gkjxcdghgcdkfjioghxfgkjhkgljh gfjghjghj
  hgjghcjcghkhcgkjhgck
  jkghkjghkhjkdjukh
  gkjxcdghgcdkfjioghxfgkjhkgljh gfjghjghj
  hgjghcjcghkhcgkjhgck
  jkghkjghkhjkdjukh
  gkjxcdghgcdkfjioghxfgkjhkgljh gfjghjghj
  hgjghcjcghkhcgkjhgck
  jkghkjghkhjkdjukh
  gkjxcdghgcdkfjioghxfgkjhkgljh gfjghjghj
  hgjghcjcghkhcgkjhgck
  jkghkjghkhjkdjukh
  gkjxcdghgcdkfjioghxfgkjhkgljh gfjghjghj
  hgjghcjcghkhcgkjhgck
  jkghkjghkhjkdjukh
  gkjxcdghgcdkfjioghxfgkjhkgljh
  <strong class='text-primary'>
  {{ definition.dateUpload | date('d/m/Y')}}
  </strong>
  </p>

  {# <div><iframe>  </iframe></div> #}
  {% if definition.videoUpload is not null %} 
    <p class="">
      <video controls width="500">
        <source src="{{ asset('/video/' ~ definition.videoUpload ) }}" height="150px" type="video/mp4">
      </video>
    </p>
    {% elseif definition.videoUrl is not null  %}
    <p>
      <iframe src="{{ definition.videoUrl}}"></iframe>
    </p>
    {% else %}
      <td><img height="100" src="{{ asset('/image/' ~ definition.photo ) }}" height="60px" /></td>
    {% endif %}


  
  </div>
</div>
{# <div class="row">
    
    <div class="col-md-6 offset-3"><h1>Définition :<small> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt expedita natus, beatae numquam magni soluta corporis eveniet saepe perferendis reprehenderit repellat odit! Consequuntur, sequi veniam dolorum nemo eveniet quos numquam?</small></h1></div>
    
</div>

<div class="d-flex justify-content-center">
<div class="embed-responsive embed-responsive-16by9 col-md-6">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
</div>
</div>



  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-8">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">J'ai compris</label>
      </div>
      
      <div class="col col-lg-2">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
      </div>
    </div>
    
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-8">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">Je n'ai pas compris</label>
      </div>
      
      <div class="col col-lg-2">
        <SCRIPT LANGUAGE="JavaScript">
    var maintenant=new Date();
    document.write(maintenant);
    </SCRIPT> 
      </div>
    </div>
  </div> #}


{% endblock %}