{% extends 'base.html.twig' %}


{% block content %}

<h1 class="text-center text-primary">{{ app.definition.terme }}</h1>
<p>{{ app.definition.description }}</p>

{# <div><iframe>  </iframe></div> #}
{% if app.definition.videoUpload is not null %} 
   <td>
		<video controls width="250">
			<source src="{{ asset('/video/' ~ app.definition.videoUpload ) }}" height="60px" type="video/mp4">
		</video>
	</td>
	{% elseif app.definition.videoUrl is not null  %}
	<td>
		<iframe src="{{ app.definition.videoUrl}}"></iframe>
	</td>
	{% else %}
    <td><img height="100" src="{{ asset('/image/' ~ app.definition.photo ) }}" height="60px" /></td>
	{% endif %}
	{% if  app.definition.etat == 0  %}
	 <td class="rouge">
			En attente
	</td> 
	{% elseif app.definition.etat == 1 %}
 	<td class="vert">
		Validé	
	</td>
	{% endif %}

<p>{{ app.user.dateUpload }}</p> 
{# <div class="row">
    
    <div class="col-md-6 offset-3"><h1>Définition :<small> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt expedita natus, beatae numquam magni soluta corporis eveniet saepe perferendis reprehenderit repellat odit! Consequuntur, sequi veniam dolorum nemo eveniet quos numquam?</small></h1></div>
    
</div>

<div class="d-flex justify-content-center">
<div class="embed-responsive embed-responsive-16by9 col-md-6">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
</div>
</div>



  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-8">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">J'ai compris</label>
      </div>
      
      <div class="col col-lg-2">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
      </div>
    </div>
    
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-8">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">Je n'ai pas compris</label>
      </div>
      
      <div class="col col-lg-2">
        <SCRIPT LANGUAGE="JavaScript">
    var maintenant=new Date();
    document.write(maintenant);
    </SCRIPT> 
      </div>
    </div>
  </div> #}


{% endblock %}