{% extends 'base.html.twig' %}


{% block content %}

<h1 class="text-center text-primary mt-3 mb-5">{{ definition.terme }}</h1><hr>
<div class='row' >
<div class='col-md-6 offset-md-3'>
  <p class=" text-center mx-auto w-50">{{ definition.description }}
  <strong class='text-primary'><hr>
   date d'ajout :   {{ definition.dateUpload | date('d/m/Y')}}
  </strong>
  </p>

  {# <div><iframe>  </iframe></div> #}
  {% if definition.videoUpload is not null %} 
  

    <div class="col-md-6 offset-md-3 mt-3 pb-4">
      <video controls width="6000" style=" height: 300px; width: 300px;">
        <source src="{{ asset('/video/' ~ definition.videoUpload ) }}" height="500px" type="video/mp4">
      </video>
    </div>
    {% elseif definition.videoUrl is not null  %}
    <p>
      <iframe src="{{ definition.videoUrl}}"></iframe>
    </p>
    {% else %}
      <td><img height="200" src="{{ asset('/image/' ~ definition.photo ) }}" height="60px" /></td>
      <input type="file" name="video_user">
      <p class="pt-3">Vueillez ajouter une video pour nous aidées à completer le dictionnaire</p>
    {% endif %}
    <div class="text-center mx-auto">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label mr-5" for="inlineCheckbox1">J'ai compris</label>
          <input class="form-check-input ml-3" type="checkbox" id="inlineCheckbox2" value="option2">
         <label class="form-check-label ml-5" for="inlineCheckbox2">Je n'ai pas compris</label>
    </div>
</div>
{# <div class="row">
    
    <div class="col-md-6 offset-3"><h1>Définition :<small> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt expedita natus, beatae numquam magni soluta corporis eveniet saepe perferendis reprehenderit repellat odit! Consequuntur, sequi veniam dolorum nemo eveniet quos numquam?</small></h1></div>
    
</div>

<div class="d-flex justify-content-center">
<div class="embed-responsive embed-responsive-16by9 col-md-6">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
</div>
</div>



  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-8">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">J'ai compris</label>
      </div>
      
      <div class="col col-lg-2">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
      </div>
    </div>
    
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-8">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">Je n'ai pas compris</label>
      </div>
      
      <div class="col col-lg-2">
        <SCRIPT LANGUAGE="JavaScript">
    var maintenant=new Date();
    document.write(maintenant);
    </SCRIPT> 
      </div>
    </div>
  </div> #}


{% endblock %}