{% extends 'base.html.twig' %}


{% block content %}





<header>

    <div class="fond row">
      <div class="col-md-8 my-5 offset-2">
      <div class="input-group md-form form-sm form-1 pl-0">
        <form class="form-inline mt-2 mt-md-0" action="{{ path('recherche') }}" method="get">
   <div class="input-group md-form form-sm form-1 pl-0">
      <div class="input-group-prepend">
         <span class="input-group-text cyan lighten-2 " type="submit" value="OK" ><i class="fas fa-search text-white"
            aria-hidden="true"></i></span>
      </div>
      <input class="form-control my-0 py-1 text-white" type="text" placeholder="rechercher" aria-label="rechercher" name="s" value="">
   </div>		
</form>
      </div>
    </div>
    </div>

</header>
{% if action == 'recherche' %} 
{% for def in definition %}
<a href="{{ path('definition',  {id : def.id}) }} "><div class="card mb-3 offset-md-3 flex-wrap" style="max-width:100vh;">
   <div class="row no-gutters">
      <div class="col-md-6 col-sm-6">
      {% if def.videoUpload is not null %}
         <video controls width="300">
               <source src="{{ asset('/video/' ~ def.videoUpload ) }}" height="60px" type="video/mp4">
         </video>
	   {% elseif def.videoUrl is not null  %}
         <iframe src="{{ def.videoUrl}}"></iframe>
	   {% else  %}
         <img src="{{ asset('/image/' ~ def.photo) }}" class="card-img" alt="image de {{ def.terme}}">
	   {% endif %}
      </div>
      <div class="col-md-6 col-sm-6 text-danger">
         <div class="card-body">
            <h5 class="card-title text-danger text-center">{{ def.terme }}</h5><hr>
            <p class="card-text text-danger">{{ def.description }}</p><hr>
            <p class="card-text text-danger"><small class="text-muted"> date d'ajout {{ def.dateUpload | date('d/m/Y') }}</small></p>
         </div>
         {# <div class="col-md-6 col-sm-6 text-danger">
            <label> Ajouter une video, une image ou une url</label>
            <input type="file" name="ajout" value='ajout'>
         </div> #}
      </div>
   </div>
</div> 
 </a>          
{% endfor %}
{% endif %}  
        

{% endblock %}
