{% extends 'base.html.twig' %}

{% block content %}

	
	{{ form_start(userForm) }}
<div class="row">
	<div class="col-md-12 col-xs-12 d-flex justify-content-center">
		<div class="card-body text-center ">
			
			<h5 class="card-header info-color white-text text-center py-4">
				<strong>Inscription</strong>
			</h5>
			<div class="card-body px-lg-5 pt-0">
					 
					<div class="col-12">
<<<<<<< Updated upstream
						<div class="form-group">
							<label>username</label>		

							{{ form_widget(userForm.username, {'attr' : {
								'class' : 'form-control'
							}} ) }}			
=======
						<div class="md-form">

							{{ form_row(userForm.username,  { 'attr' : {
								'class' : 'form-group'
							}}) }}			
>>>>>>> Stashed changes
						</div>
						<div class="md-form">
						{% if not is_granted('ROLE_USER') %}
							{{ form_widget(userForm.password) }}
						{% endif %}
						</div>				
						<div class="md-form">
							{{ form_widget(userForm.prenom) }}
						</div>
						<div class="md-form">
							{{ form_widget(userForm.nom) }}
						</div>				
						<div class="md-form">
							{{ form_widget(userForm.email) }}
						</div>				
						<div class="md-form">
							{{ form_widget(userForm.civilite) }}
						</div>	
					</div>	
					<div class="col-12">
						<div class="md-form">
							{{ form_row(userForm.adresse) }}
						</div>				
						<div class="md-form">
							{{ form_row(userForm.ville) }}
						</div>				
						<div class="md-form">
							{{ form_row(userForm.codePostal) }}
						</div>				
						<div class="md-form">
							{{ form_row(userForm.telephone) }}
						</div>								
						<div class="row">
							<div class="col-4">
							{{ form_row(userForm.dateDeNaissance.day, {label : 'Jour'}) }}
							</div>
							<div class="col-4">
							{{ form_row(userForm.dateDeNaissance.month, {label : 'Mois'}) }}
							</div>
							<div class="col-4">
							{{ form_row(userForm.dateDeNaissance.year, {label : 'Année'}) }}
							</div>
						</div>
					</div>	
				<div class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">
					{{ form_row(userForm.submit, { 'label' : 'Inscription' } ) }}
				</div>

				</form>
			</div>
		</div>
	</div>
</div>			
	{{ form_end(userForm) }}

{% endblock %}