{% extends 'base.html.twig' %}

    {% block stylesheets %}
	<style>

</style>
    {% endblock %}
{% block content %}
	
	<h1>Inscription</h1>
	{{ form_start(userForm) }}
	<form class="form-groupe"> 
		<div class="row">      
			<div class="col-md-4 col-sm-4 col-lg-4 offset-md-4">
				{{ form_row(userForm.username) }}
					{% if not is_granted('ROLE_USER') %}
						{{ form_row(userForm.password) }}
					{% endif %}
			</div>            
		</div>
      <hr>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-lg-4 offset-md-4">
					{{ form_row(userForm.prenom) }}
          
			</div>  
			<div class="col-md-4 col-sm-4 col-lg-4 offset-md-4">
					{{ form_row(userForm.nom) }}	        
			</div>  
			<div class="col-md-4 col-sm-4 col-lg-4 offset-md-4">
					{{ form_row(userForm.email) }}       
			</div>            
			<div class="col-md-4 col-sm-4 col-lg-4 offset-md-6">
					{{ form_row(userForm.civilite) }}            
			</div>  
		</div>
      <hr>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-lg-4 offset-md-4 flex-wrap">
					{{ form_row(userForm.adresse) }}
					{{ form_row(userForm.ville) }}
					{{ form_row(userForm.codePostal) }}
					{{ form_row(userForm.telephone) }}
					{{ form_row(userForm.role) }}
			</div>            
		</div>
      <hr>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-lg-4 offset-md-4">
				{{ form_row(userForm.dateDeNaissance) }}
			</div>            
		</div>
      <hr>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
				{{ form_row(userForm.submit, { 'label' : 'Inscription'}) }}  
			</div>         
		</div>    
    </form>
			
	
	 {{ form_end(userForm) }} 
	

{% endblock %}
