{% extends 'base.html.twig' %}

{% block content %}

	<h1>Gestion des définitions</h1>
    <p>Nombre de définitions : {{ def | length }}</p>

    <div class="row">
        <a href="{{ path('admin_definition_add') }}" class="btn btn-success"><i class="fas fa-plus-circle"></i> Ajouter une définition</a>
    </div>

    <div>
        <table class=" table table-bordered table-striped">
		
            <thead class="thead-light">
                <tr>
					<th>Id de la vidéo</th>
					<th>description</th>
					<th>termes</th>
					<th>dateUpload</th>
					<th>photo</th>
					<th>videoUrl</th>
					<th>videoUpload</th>
					<th colspan="2">Action</th>
				</tr>
			</thead>
			
			<tbody>
				
{% for d in def %}
<tr>
	<td>{{ d.id }}</td>
	<td>{{ d.description }}</td>
	<td>{{ d.terme }}</td>
    <td>{{ d.dateUpload | date("m/d/Y") }}</td>
	{% if d.photo  %}
    <td><img src="{{ asset('/photo/' ~ d.photo ) }}" height="60px" /></td>
	{% else if %}
    <td>
		<video controls width="250">

			<source src="{{ asset('/photo/' ~ d.videoUrl ) }}" height="60px"
				type="video/mp4">
		</video>
	</td>
	{% else if %}
    <td>{{ d.fileVideo }}</td>
	{% else %}
	<td> aucune image ou de video, je vous invites à en rajouter une si vous avez la possiblité de le faire </td>
	{% endif %}
{# 	
	<td>
		<a href="{{ path('admin_user_fiche', {id : d.id}) }}"> 
			<i class="fas fa-eye"></i>
		</a>
	</td>  #}
	<td>
		<a href="{{ path('admin_definition_update', {id : d.id}) }}">
			<i class="fas fa-edit"></i>
		</a>
	</td>
	<td>
		<a href="{{ path('admin_definition_update', {id : d.id}) }}" onclick="return confirm('Etes-vous certain de vouloir supprimer le membre ?')">
			<i class="fas fa-trash-alt"></i>
		</a>
	</td>
</tr>	

{% endfor %}
				
				
				
				
				
			</tbody>
			
		</table>
	</div>
	
	
	
	

{% endblock  %}