{% extends 'base.html.twig' %}


    {% block stylesheets %}
<style>

</style>
    {% endblock %}
{% block content %}
<h1 class="text-center text-primary"> Ajout d'une définition </h1>


<div class="col-md-8 offset-md-2">
{{ form_start(definitionForm) }}	
<div class="row">
	<div class="form-group col-md-12">
		{{ form_row(definitionForm.description)}}
	</div>
</div>
<div class="row">
	<div class="form-group col-md-6 offset-md-3">
		{{ form_row(definitionForm.terme)}}
	</div>

</div>
<div class="row">
	<div class="form-group col-md-6 offset-md-3">
		{{ form_row(definitionForm.file)}}
	</div>
	<div class="form-group col-md-6 offset-md-3">
		{{ form_row(definitionForm.fileVideo)}}
	</div>
	<div class="form-group col-md-6 offset-md-3">
	{{ form_row(definitionForm.videoUrl)}}
	</div>
	<div class="form-group col-md-6 offset-md-3">
	{{ form_row(definitionForm.etat)}}
	</div>
</div>


{{ form_end(definitionForm) }}
	</div>

{% endblock %}
