{% extends 'base.html.twig' %}


    {% block stylesheets %}
<style>

</style>
    {% endblock %}
{% block content %}
<h1 class="text-center text-primary"> Ajout d'une définition </h1>

<form class="form-groupe bg-primary text-white">
<div class="col-md-8 offset-md-2">
{{ form_start(definitonForm) }}	
<div class="row">
	<div class="form-group col-md-12">
		{{ form_row(userForm.description)}}
	</div>
</div>
<div class="row">
	<div class="form-group col-md-4">
		{{ form_row(userForm.terme)}}
	</div>
	<div class="form-group col-md-4">
		{{ form_row(userForm.nom)}}
	</div>
	<div class="form-group col-md-4">
		{{ form_row(userForm.civilite)}}
	</div>
</div>
<div class="row">
	<div class="form-group col-md-6 offset-md-3">
		{{ form_row(userForm.image)}}
	</div>
</div>

<div class="row">
	<div class=" form-group col-md-2">
		{{ form_row(userForm.dateUpload.day, {label : 'Jour'}) }}
	</div>
	<div class=" form-group col-md-2">
		{{ form_row(userForm.dateUpload.month, {label : 'Mois'}) }}
	</div>
	<div class=" form-group col-md-2">
		{{ form_row(userForm.dateUpload.year, {label : 'Année'}) }}
	</div>
</div>
{{ form_end(userForm) }}
	</div>

</form>
{% endblock %}
